.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbarList {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarItem {
  margin-right: 10px;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navbar-custom {
  background-color: green;
}

.navbar-custom .nav-link {
  color: white;
}

