.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  height: 64px;
}

.navbarList {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarItem {
  margin-right: 10px;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navbar-custom {
  background-color: #DFD7BF;
}


.navbar-custom .nav-link {
  color: white;
}

.navbarList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .nav-link {
  margin-right: 10px;
  font-size: 24px;
  color: #3F2305;
}


