@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.navbar {
  background-color: #f2f2f2;
  padding: 10px;
  height: 64px;
}

.navbarList {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarItem {
  margin-right: 10px;
}

.navbar-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dfd7bf;
  padding: 10px;
  height: 64px;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfd7bf;
  padding: 10px;
  height: 64px;
}

.navbar-custom .nav-link {
  color: white;
}

.navbarList {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.navbar .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #3f2305;
}

.navbar-left-element {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #3f2305;
}

.navbar-custom .nav-link {
  font-weight: normal;
  transition: all 0.3s ease;
}

.navbar-custom .nav-link.active {
  font-weight: bold;
  color: #00334E;
}

.navbar-custom .nav-link:hover {
  font-weight: bold;
  color: #145374;
}

.navbar .nav-link:hover {
  animation: neonHover 0.5s infinite alternate;
}

@keyframes neonHover {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px #40128b, 0 0 20px #40128b, 0 0 40px #40128b,
      0 0 80px #40128b;
  }
  100% {
    text-shadow: none;
  }
}
